.item_top_bar_left {
    background: none
}

.item_top_bar_left strong {
    color: #efff01 !important;
}

.three_footer_bottom>li:nth-child(3) {
    text-align: left;
}

.h200 {
    height: 136px;
    overflow: hidden;
}

.col50per {
    width: 45%;
    position: relative;
}

.thumb720x200 {
    width: 720px;
    height: 136px;
}

.top_banner_site {
    background: #fff
}

#fixed-banner-left {
    position: fixed;
    height: 600px;
    left: 0;
    z-index: 999999;
}

#fixed-banner-right {
    position: fixed;
    height: 600px;
    right: 0;
    z-index: 999999;
}

#fixed-banner-left .ct {
    float: right;
    max-height: 100%;
}

#fixed-banner-right .ct {
    float: left;
    max-height: 100%;
}