@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/*reset css*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav>ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e3e3e3;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

input[type="text"],
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    line-height: normal;
    box-sizing: border-box
}

img {
    border: 0 none;
    object-fit: cover;
}

*:focus {
    outline: none;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}

* html .clearfix {
    display: inline-block;
    height: 1%;
}

.clearfix {
    /* * display: inline-block; */
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle
}

img {
    vertical-align: middle
}

a:hover {
    color: #1ba7aa;
    text-decoration: none
}

body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

html {
    font: 14px/20px 'Roboto', Arial, Helvetica, sans-serif;
    background: #fff;
    line-height: normal;
}

input[type="submit"],
input[type="button"],
input[type="text"] {
    border: 0 none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: normal;
    display: inline
}


/*End reset css*/

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.col1160 {
    width: 1160px;
    margin: 0 auto
}

.top_bar {
    position: relative;
    background: #129fe2;
    padding: 5px;
    z-index: 99;
}

.item_top_bar_left {
    background: url(../images/icon_heart.png) no-repeat left;
    padding-left: 17px;
    margin-right: 20px;
    font-weight: bold;
    color: #fff;
}

.item_top_bar_left:hover {
    text-decoration: underline;
    color: #fff
}

.item_top_bar_left span {
    color: #1ba7aa
}

.top_bar_right {
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 14px;
    color: #fff;
}

.top_bar_right .clpink {
    color: #efff01 !important;
}

.top_bar_left {
    margin: 3px 0
}

.icon_social_top img {
    height: 24px;
    display: block
}

.icon_social_top {
    margin-left: 7px
}

.btn_price {
    background: #fff;
    border-radius: 3px;
    padding: 3px 7px;
    color: #129fe2;
    margin-left: 15px;
}

.btn_price:hover {
    color: #000;
    background: #61fbff
}

.line {
    color: #ddd;
    margin: 0 10px;
    display: inline-block
}

.top_bar_right .line:last-child {
    margin-right: 0
}

.top_bar_right .icon_social_top:first-child {
    margin-left: 0
}

.col50per {
    width: 50%;
    position: relative
}

.thumb720x200 {
    width: 720px;
    height: 200px;
}

.content_top_banner_site {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.content_top_banner_site.tb_left {
    padding-left: 115px;
    text-align: left;
    padding-right: 70px
}

.tag_db {
    background: #1ba7aa;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-block
}

.title_top_banner_site {
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase
}

.content_top_banner_site.tb_right {
    padding-left: 50px;
    padding-right: 115px;
    text-align: right;
    color: #fff;
}

.content_top_banner_site .title_top_banner_site:hover {
    text-decoration: underline
}

#close_search {
    display: block;
    width: 31px;
    height: 21px;
    position: relative;
    top: 9px;
}

#close_search span:after,
#close_search span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
}

#close_search span:after {
    top: 7px;
}

#close_search span {
    position: relative;
    display: block;
}

#close_search span,
#close_search span:after,
#close_search span:before {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}


/* on activation */

#close_search.on span {
    background-color: transparent;
}

#close_search.on span:before {
    transform: rotate(45deg) translate(6px, 6px);
}

#close_search.on span:after {
    transform: rotate(-45deg) translate(4px, -4px);
}

#close_search.on+#menu_button {
    opacity: 1;
    visibility: visible;
}

#toggle {
    display: block;
    width: 21px;
    height: 21px;
    position: relative;
    top: 9px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
}

#toggle span:after {
    top: 7px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 3px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}


/* on activation */

#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(6px, 6px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(4px, -4px);
}

#toggle.on+#menu_button {
    opacity: 1;
    visibility: visible;
}


/* menu appearance*/

#menu_button {
    position: absolute;
    color: #999;
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    left: 0;
    right: 0;
    top: 50px;
}

.top_banner_site {
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    background: #f4979f
}

.logo_main img {
    height: 35px;
    display: block;
}

.container_menu {
    display: inline-block;
    padding: 10px 15px 8px;
    float: left;
    border-right: 1px solid #ddd;
    margin: 5px 0;
}

.h200 {
    height: 200px;
    overflow: hidden
}

.header_main {
    border-bottom: 1px solid #e5e5e5;
    /* position: relative; */
    margin-bottom: 20px;
    z-index: 99;
    border-top: 1px solid #ddd
}

.menu_main li a.logo_main {
    padding: 3px 20px 3px;
    float: left;
}

.menu_main {
    margin: 0 20%;
}

.menu_main .dropdown {
    float: left;
    padding: 5px 0 0;
    border-bottom: 3px solid #fff
}

.menu_main .dropdown ul {
    margin-top: 2% !important;
}

.menu_main .dropdown .active,
.menu_main .dropdown:hover {
    border-bottom: 3px solid #1ba7aa
}

.menu_main .dropdown a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 15px;
    border-right: 1px solid #ddd;
    font-size: 13px;
    line-height: 15px;
}

.box_search {
    float: left;
    border-right: 1px solid #ddd;
    margin: 5px 0 0;
}

.z9 {
    position: relative;
    z-index: 9
}

.btn_search {
    padding: 12px 10px 11px;
}

.col220 {
    width: 220px
}

.col460 {
    width: 460px
}

.col440 {
    width: 440px
}

.col220.bg_pink {
    border: 1px solid #129fe2
}

.bg_pink120 {
    position: relative;
}

.bg_pink120:before {
    position: absolute;
    content: '';
    background: #129fe2;
    height: 120px;
    top: 0;
    left: 0;
    right: 0
}

.bg_pink270:before {
    height: 270px;
}

.bg_cyan {
    border: 1px solid #129fe2
}

.bg_cyan120 {
    position: relative;
}

.bg_cyan120:before {
    position: absolute;
    content: '';
    background: #129fe2;
    height: 120px;
    top: 0;
    left: 0;
    right: 0
}

.bg_cyan270:before {
    height: 270px;
}

.thumb180x115 {
    width: 180px;
}

.list_two220 {
    padding: 20px
}

.list_two220 li {
    margin-bottom: 20px
}

.list_two220 li:last-child {
    margin-bottom: 0
}

.tag_hot {
    background: #1ba7aa;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px
}

.thumb460x285 {
    width: 460px;
    height: 285px;
}

.list_four440 {
    padding: 20px;
    margin: 0 -5px
}

.list_four440 li {
    padding: 0 5px;
    margin-bottom: 20px;
    width: 50%;
    float: left
}

.focus_new {
    margin-bottom: 20px
}

.list_four440 li:nth-child(2n+1) {
    clear: both
}

.thumb195x120 {
    width: 100%;
    height: 120px
}

.h422 {
    height: 422px;
    overflow: hidden
}

.h51 {
    height: 51px;
    overflow: hidden
}

.h84 {
    height: 84px;
    overflow: hidden
}

.bg_ads_full {
    background: #c9e9e9;
    margin: 0
}

.bg_ads_full img,
.bg_ads_full a {
    text-align: center;
    vertical-align: middle
}

.head_pink {
    background: #129fe2;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    padding: 10px 10px;
}

.col560 {
    width: 560px;
}

.col260 {
    width: 260px
}

.col300 {
    width: 300px
}

.thumb120x80 {
    width: 120px;
    height: 76px;
}

.title_three_ver {
    width: calc(100% - 135px);
    margin-left: 15px
}

.list_three_ver li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-bottom: 8px;
    position: relative;
}

.list_three_ver li:after {
    content: '';
    clear: both;
    display: block;
    height: 0.1px
}

.list_three_ver li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.trend_news {
    margin-top: 20px;
    background: #31363a;
    padding: 20px;
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.thumb210x130 {
    width: 100%;
    height: 130px;
}

.title_trends {
    position: absolute;
    color: #1ba7aa;
    text-transform: uppercase;
    font-size: 24px;
    z-index: 9;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    margin-left: -150px;
    top: 80px;
    font-weight: 300;
}

.trend_news {
    position: relative
}

.number_trends {
    color: #1ba7aa;
    font-size: 36px;
    display: inline-block;
    font-weight: 300;
    float: left;
    width: 43px;
    margin-right: 5px;
    text-align: center;
    font-weight: 400;
    line-height: 36px;
    min-height: 60px
}

.list_slide_news_focus a.clwhite {
    line-height: 20px;
    font-weight: 300
}

.head_title_pink {
    font-weight: 300;
    padding-top: 20px;
    margin-bottom: 17px;
}

.sub_cate_title {
    margin-top: 9px
}

.sub_cate_title,
.sub_cate_title a {
    color: #fff;
    font-weight: bold;
}

.sub_cate_title a {
    margin: 0 5px
}

.sub_cate_title a:hover {
    text-decoration: underline
}

.list_three_hor {
    margin: 0 -15px
}

.list_three_hor li {
    /* width: 33.3%; */
    padding: 0 15px;
    float: left;
    margin-bottom: 30px
}

.list_three_hor li:nth-child(3n+1) {
    clear: both
}

.thumb230 {
    height: 230px;
    width: 100%
}

.tag_sponsor {
    font-size: 12px;
    background: #1ba7aa;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 10px;
    margin-right: 10px
}

.list50per {
    margin: 0 -10px
}

.list50per li {
    width: 50%;
    padding: 0 10px 0;
    float: left;
}

.list50per li .head_title_pink {
    padding: 15px 20px 0;
}

.list50per .list_four440 {
    padding: 0 20px;
    margin: 0 -10px
}

.thumb160 {
    height: 160px
}

.desc_news {
    line-height: 19px;
    color: #666
}

.list50per .list_four440 li:nth-child(2n+1) {
    /* clear: inherit */
}

.list50per .list_four440 .sponsor_two {
    display: block;
    width: 100%;
}

.list50per .list_four440 .sponsor_two .border_pink {
    border: 3px solid #f9cbce;
    padding: 17px
}

.thumb255x160 {
    width: 255px;
    height: 160px;
    margin-right: 20px;
}

.info_255 {
    width: calc(100% - 275px)
}

.h81 {
    max-height: 78px;
    overflow: hidden
}

.bg_pink120 .head_title_pink {
    padding: 15px 0 0;
}

.bg_pink270 .head_title_pink {
    padding: 15px 0px 0;
}

.bg_pink120.m20 {
    margin: 0 -20px;
    padding: 0 20px
}

.bg_pink120.bg_cyan_bottom:before {
    background: #129fe2;
}

.bg_pink120.bg_cyan_bottom .list_four440 .sponsor_two .border_pink {
    border-color: #129fe2
}

.bg_pink120.bg_green_bottom:before {
    background: #129fe2;
}

.bg_pink120.bg_green_bottom .list_four440 .sponsor_two .border_pink {
    border-color: #129fe2
}

.box_top_trend {
    background: #f2f2f2;
    padding: 20px 20px 5px;
    margin-bottom: 20px
}

.title_top_trend {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px
}

.item_top_trend {
    border: 1px solid #ddd;
    border-radius: 40px;
    display: inline-block;
    padding: 7px 20px;
    margin-right: 15px;
    margin-bottom: 10px
}

.item_top_trend:hover {
    background: #fff
}

.bg_footer {
    padding: 20px;
    background: #FFF;
}

.menu_footer_top {
    display: flex;
    margin-bottom: 7px
}

.menu_footer_top>li {
    width: 11.7%;
    margin-right: 1%;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 5px;
    text-align: center
}

.menu_footer_top>li:last-child {
    margin-right: 0
}

.title_menu_footer_top {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.menu_footer_top li {
    margin-bottom: 5px
}

.menu_footer_top li ul li a {
    color: #000;
}

.menu_footer_top li a:hover {
    text-decoration: underline;
    color: #119fe2;
}

.menu_footer_bottom>li {
    width: 16.6%
}

.menu_footer_bottom>li:nth-child(4),
.menu_footer_bottom>li:nth-child(5),
.menu_footer_bottom>li:nth-child(6) {
    align-items: center;
    display: flex;
    justify-content: center
}

.menu_footer_bottom>li img {
    margin-bottom: 10px
}

.footer_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    margin-top: 25px;
    color: #000;
    font-size: 12px;
    line-height: 20px
}

.footer_bottom * {
    line-height: 20px
}

.three_footer_bottom>li {
    width: 32%;
    padding-right: 2%;
    margin-right: 2%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
    min-height: 300px;
}

.three_footer_bottom>li:last-child {
    margin-right: 0;
}

.three_footer_bottom>li:nth-child(2) {
    text-align: center
}

.three_footer_bottom>li:nth-child(3) {
    border-right: none;
    padding-right: 0;
    text-align: right;
}

.list_a_bottom a {
    color: #000;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #fff;
    line-height: 14px;
    display: inline-block
}

.list_a_bottom a:hover {
    text-decoration: underline
}

.list_a_bottom a:last-child {
    border: none;
    margin-right: 0;
    padding-right: 0;
}

.list_a_bottom a * {
    line-height: 14px
}

.list_phone {
    margin: 20px 0
}

.list_phone li {
    background: #51bcbe;
    padding: 5px 10px;
    width: 90%;
    border-radius: 50px;
    margin: 10px 5%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_phone li img {
    margin-right: 7px
}

.icon_social a {
    margin: 0 10px
}

#menu_button .menu_footer_top li {
    border-color: #ddd
}

#menu_button .title_menu_footer_top {
    color: #e95662
}

#menu_button .menu_footer_top li ul li a {
    color: #333
}

#menu_button .menu_footer_bottom>li:nth-child(4) {
    background: #129fe2;
    border-color: #129fe2
}

#menu_button .menu_footer_bottom>li:nth-child(5) {
    background: #129fe2;
    border-color: #129fe2
}

#menu_button .menu_footer_bottom>li:nth-child(6) {
    background: #129fe2;
    border-color: #129fe2
}

#menu_button .menu_footer_bottom>li:nth-child(4) a,
#menu_button .menu_footer_bottom>li:nth-child(5) a,
#menu_button .menu_footer_bottom>li:nth-child(6) a {
    color: #fff
}

.trend_news_cate {
    position: fixed;
    width: 100%;
    z-index: 99;
    bottom: -240px;
    padding: 0 0 20px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.trend_news_cate.active {
    bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn_show_hot {
    cursor: pointer
}

.icon_close_trend {
    opacity: 0;
    visibility: hidden;
    z-index: -1
}

.trend_news_cate.active .icon_close_trend {
    opacity: 1;
    visibility: visible
}

.bread_cump_cate {
    text-align: center;
    margin-bottom: 20px
}

.bread_cump_cate a {
    font-size: 18px;
    line-height: 18px;
    border-right: 1px solid #777;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold
}

.bread_cump_cate a.active {
    color: #1ba7aa;
}

.bread_cump_cate a:last-child {
    border: none;
    padding-right: 0;
    margin-right: 0
}

.col840 {
    width: 840px;
}

.col300 {
    width: 300px
}

.thumb375x235 {
    width: 375px;
    height: 235px
}

.desc_840 {
    width: calc(100% - 405px);
    margin-left: 20px
}

.list_news840 li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    position: relative
}

.list_news840 li:after {
    content: '';
    clear: both;
    display: block;
    height: 0.1
}

.list_news840_six li {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0
}

.list_news840 .list_three_hor {
    margin: 20px -10px 0
}

.list_news840_six .list_three_hor li {
    padding: 0 10px;
}

.img-mobile {
    width: 100%;
    height: 25vw;
}

.news {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.thumb160 {
    height: 160px
}

.text_loading {
    text-align: center;
    color: #999;
    margin: 50px 0
}

.trend_news_cate .title_trends {
    font-size: 14px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    background: #1e2124;
    padding: 10px 40px 4px;
    top: -30px;
    left: 50%;
    font-weight: 400;
    border-radius: 3px;
    width: 220px;
    text-align: center;
    margin-left: -110px;
    -webkit-clip-path: polygon(7% 0, 93% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(7% 0, 93% 0%, 100% 100%, 0% 100%);
}

.icon_close_trend {
    background: #1ba7aa;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: calc(50% + 110px);
    top: -30px;
    position: relative;
    overflow: hidden;
}

.icon_close_trend:hover:before,
.icon_close_trend:hover:after {
    background: #fff
}

.icon_close_trend::before,
.icon_close_trend::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 70%;
    top: 11px;
    left: 0;
    margin-top: 0;
    background: #000;
    margin: 0 15%;
}

.icon_close_trend::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon_close_trend::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon_close_trend.thick::before,
.icon_close_trend.thick::after {
    height: 4px;
    margin-top: -2px;
}

.col300 .bg_pink120 .head_title_pink {
    padding: 15px 20px 0;
    margin-bottom: 0
}

.thumb120x120 {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.list_hot_right li {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.title_list_hot_right {
    float: left;
    margin-left: 20px;
    width: calc(100% - 140px);
    margin: 10px;
    font-weight: bold;
    max-height: 85px;
    overflow: hidden
}

.number_hot {
    font-weight: bold;
    font-size: 40px;
    position: relative;
    display: inline-block;
    mix-blend-mode: lighten;
    z-index: 99;
    width: 60px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px
}

.number_hot:after {
    background: #fff;
    width: 60px;
    height: 60px;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    border-radius: 100%;
    text-align: center
}

.list_hot_right .thumb120x120 img {
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.list_hot_right li .thumb120x120:after {
    background: rgba(204, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}

.list_hot_right li:nth-child(1) .thumb120x120:after {
    background: rgba(204, 0, 0, 0.5);
}

.list_hot_right li:nth-child(2) .thumb120x120:after {
    background: rgba(204, 0, 102, 0.5);
}

.list_hot_right li:nth-child(3) .thumb120x120:after {
    background: rgba(204, 0, 204, 0.5);
}

.list_hot_right li:nth-child(4) .thumb120x120:after {
    background: rgba(102, 0, 204, 0.5);
}

.list_hot_right li:nth-child(5) .thumb120x120:after {
    background: rgba(51, 0, 204, 0.5);
}

.list_hot_right li:nth-child(6) .thumb120x120:after {
    background: rgba(0, 102, 204, 0.5);
}

.list_hot_right li:nth-child(7) .thumb120x120:after {
    background: rgba(0, 153, 204, 0.5);
}

.list_hot_right li:nth-child(8) .thumb120x120:after {
    background: rgba(0, 204, 153, 0.5);
}

.list_hot_right li:nth-child(9) .thumb120x120:after {
    background: rgba(0, 204, 41, 0.5);
}

.list_hot_right li:nth-child(10) .thumb120x120:after {
    background: rgba(204, 204, 0, 0.5);
}

.thumb500 {
    max-height: 500px
}

.title_detail {
    width: calc(100% - 120px);
    margin: 0 auto;
    position: relative;
    margin-top: -50px;
    font-size: 32px;
    background: #fff;
    padding: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px 10px 0 0;
    z-index: 9;
}

.col50 {
    width: 50px;
    margin-right: 20px;
    float: left;
    position: sticky;
    top: 60px;
    z-index: 99
}

.col770 {
    width: 770px;
    float: left
}

.time_detail {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    text-align: center
}

.icon_clock {
    background: url(../images/icon_clock.png) no-repeat;
    padding-left: 20px;
    color: #999;
    display: inline-block;
    border-bottom: 3px solid #1ba7aa;
    position: relative;
    bottom: -3px;
    padding-bottom: 10px;
}

.col660 {
    width: 660px;
    margin: 0 auto
}

.sapo_detail {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold
}

#box_details_news .title_news,
#box_details_news .relative_news {
    color: #333;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

#box_details_news .title_news h1 {
    font: 400 28px/32px roboto;
    text-rendering: geometricprecision;
    color: #e75280;
}

#box_details_news .short_intro {
    color: #444;
    float: left;
    font: 700 16px/24px roboto;
    padding-bottom: 10px;
    text-rendering: geometricprecision;
    width: 100%;
}

#box_details_news .fck_detail {
    color: #333;
    float: left;
    font: 400 16px/24px roboto;
    line-height: 24px;
    overflow: hidden;
    padding: 0 2% 0 0;
    width: 98%;
}

#box_details_news .fck_detail table {
    margin: 0 auto 10px;
    max-width: 100%;
}

#box_details_news .fck_detail table.tplCaption td.caption,
#box_details_news .fck_detail table.tplCaption td.Image,
#box_details_news .fck_detail table.tplCaption td p.Normal,
#box_details_news .fck_detail table.tplCaption td .Image,
#box_details_news .fck_detail .tplCaption .Image {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #333;
    font: 400 12px roboto;
    margin: 0;
    padding: 10px;
}

#box_details_news .fck_detail table.tplCaption td {
    line-height: 0;
    padding: 0;
}

#box_details_news .fck_detail .Normal,
#box_details_news .fck_detail p {
    line-height: 24px;
    margin: /*0*/
    1em 0 1em;
    text-rendering: geometricprecision;
}

#box_details_news .relative_new {
    float: left;
    padding-bottom: 5px;
    width: 100%;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding-top: 10px;
}

.list_news_dot_3x3_300 {
    border-top: 1px dotted #e2e2e3;
    color: #666;
    float: left;
    margin: 10px 0 0;
    padding: 5px 0 0;
    width: 100%;
}

#box_details_news .relative_new .list_news_dot_3x3_300 {
    border: medium none;
    margin: 0;
    padding: 0;
}

#box_details_news .relative_new .list_news_dot_3x3_300 li {
    background-position: 0 6px;
    padding: 0 0 5px 10px;
}

#box_details_news img {
    max-width: 100%
}

.list_news_dot_3x3_300 li a {
    color: #666;
    font: 700 12px/16px roboto;
}

.list_news_dot_3x3_300 li {
    background: url(images/icons/bullet_news.jpg) no-repeat scroll left 7px;
    padding: 0 0 5px 10px;
}

.block_timer_share {
    border-top: 1px solid #ddd;
    width: 102%
}

#box_details_news .block_timer {
    font: 400 11px arial;
    padding: 5px 0 0;
    white-space: nowrap;
    margin-bottom: 10px;
}

.block_tinnewday .list_news_dot_3x3_300 {
    border: medium none;
    margin: 0;
    padding: 0;
    width: 62%;
}

.txt_666 {
    color: #666;
}

.one_news_related {
    background: #f2f2f2;
}

.thumb275x170 {
    width: 275px;
    height: 170px;
}

.desc_thumb275x170 {
    width: calc(100% - 275px);
    padding: 15px
}

.author_name {
    text-align: right;
    font-size: 16px;
    font-weight: bold
}

.tag_news_detail {
    border-top: 1px solid #efefef;
    margin-top: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px
}

.tag_news_detail a {
    border-radius: 40px;
    border: 1px solid #ccc;
    padding: 7px 20px;
    display: inline-block;
    margin-bottom: 15px
}

.the-article-share li {
    display: inline-block;
    background: #eee;
    margin-right: 5px;
    float: left;
    line-height: 34px;
    border-radius: 2px;
    position: relative;
}

.the-article-share li.btnZalo {
    background: #018fe5;
    font-size: 14px;
}

.the-article-share li a {
    display: block;
    color: #3c5a98;
    padding: 0 10px;
    line-height: 34px;
}

.the-article-share li.btnZalo a {
    color: #FFF;
}

.the-article-share li.btnFacebook {
    background: #306199;
}

.the-article-share li.btnFacebook a {
    color: #FFF;
    text-align: center;
}

.the-article-share li.btnZalo .ti-zalo {
    background: url(../images/icon_zalomessage.png) no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.the-article-share li.btnFacebook .ti-facebook {
    background: url(../images/icon_fb_1.png) no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 2px;
    position: relative;
    top: -1px;
}

.the-article-share li a:hover {
    background: rgba(0, 0, 0, .1);
    color: #FFF;
}

.comment_box {
    margin: 20px 0
}

.comment_box img {
    max-width: 100%
}

.list_social li {
    position: relative;
    display: flex;
    align-items: center
}

.list_social li .txt_social {
    position: absolute;
    white-space: nowrap;
    left: 60px;
    background: #00a2eb;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    display: none
}

.list_social li .txt_social:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #ccc;
    border-width: 5px;
    margin-top: -5px;
}

.list_social li:hover .txt_social {
    display: block
}

.list_social li .txt_social.txt_zalo {
    background: #00a2eb;
}

.list_social li .txt_social.txt_fb {
    background: #4b70a9;
}

.list_social li .txt_social.txt_cm {
    background: #1aa7aa;
}

.list_social li .txt_social.txt_error {
    background: #f5979c;
}

.list_social li .txt_social.txt_zalo:after {
    border-right-color: #00a2eb;
}

.list_social li .txt_social.txt_fb:after {
    border-right-color: #4b70a9;
}

.list_social li .txt_social.txt_cm:after {
    border-right-color: #1aa7aa;
}

.list_social li .txt_social.txt_error:after {
    border-right-color: #f5979c;
}

.shadow_search {
    display: none;
    background: rgba(51, 51, 51, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.box_seach_show {
    position: fixed;
    top: 235px;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    display: none;
}

.bg_input_search {
    width: 1070px;
    margin: 0 auto;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    position: relative;
}

.input_search {
    float: left;
    width: calc(100% - 50px);
    padding: 0 10px;
    line-height: 50px;
    border-radius: 5px 0 0 5px !important
}

.btn_search_box {
    background: url(../images/icon_search.png) no-repeat center center #eee;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0
}

#close_search {
    left: 50%;
    top: -30px;
    position: absolute;
    margin-left: -15px;
}

.shadow_search.active {
    display: block
}

.box_seach_show.active {
    display: block
}

body.active {
    overflow: hidden;
    height: 100%
}

.header_main.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff
}


/*Setup css*/

.fontbold {
    font-weight: bold
}

b,
strong {
    font-weight: bold
}

.text_up {
    text-transform: uppercase
}

.text_center {
    text-align: center
}

.pad15 {
    padding: 15px
}

.pad20 {
    padding: 20px;
}

.pad25 {
    padding: 25px;
}

.pt20 {
    padding-top: 20px
}

.pad10 {
    padding: 10px;
}

.ml15 {
    margin-left: 15px
}

.ml0 {
    margin-left: 0 !important
}

.mr15 {
    margin-right: 15px
}

.mr5 {
    margin-right: 5px
}

.ml20 {
    margin-left: 20px
}

.mr20 {
    margin-right: 20px
}

.mar5 {
    margin: 5px 0!important
}

.mar10 {
    margin: 10px;
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb25 {
    margin-bottom: 25px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.cl999 {
    color: #999
}

.cl666 {
    color: #666
}

.claaa {
    color: #aaa
}

.clwhite {
    color: #fff !important
}

.clred {
    color: #c12c2e !important
}

.clpink {
    color: #1ba7aa !important
}

.clblue {
    color: #1869a9
}

.clgreen {
    color: #13cf00
}

.clcyan {
    color: #27a7a9
}

.clblack {
    color: #000;
}

.bgblue {
    background: #2a5d9f;
}

.bgred {
    background: #c12c2e;
}

.bg_black {
    background: #333333
}

.bg_gray {
    background: #f2f2f2
}

.f11 {
    font-size: 11px !important;
    line-height: 16px
}

.f12 {
    font-size: 12px !important;
    line-height: 16px
}

.f13 {
    font-size: 13px !important;
    line-height: 17px
}

.f14 {
    font-size: 14px !important;
    line-height: 18px
}

.f15 {
    font-size: 15px !important;
    line-height: 20px
}

.f16 {
    font-size: 16px !important;
    line-height: 22px
}

.f18 {
    font-size: 18px;
    line-height: 22px
}

.f26 {
    font-size: 25px;
    line-height: 30px
}

.f20 {
    font-size: 20px;
    line-height: 24px
}

.f22 {
    font-size: 22px;
    line-height: 26px
}

.f24 {
    font-size: 24px;
    line-height: 28px
}

.f25 {
    font-size: 25px;
    line-height: 30px
}

.f30 {
    font-size: 30px;
    line-height: 34px
}

.f50 {
    font-size: 50px;
    line-height: 54px
}

.thumbblock {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.thumbblock img {
    width: 100%;
    object-fit: cover;
    min-height: 100%;
    display: block
}

#footer {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 20px
}

.footer_top {
    color: #252525;
    display: inline;
    float: left;
    width: 100%
}

.footer_widget {
    display: inline;
    float: left;
    width: 100%;
    min-height: 310px
}

.footer_widget>h2>a {
    color: #000;
}

.footer_widget>h2 {
    border-bottom: 3px solid #666;
    font-family: arial, Georgia, serif;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase
}

.tag_nav li a {
    border-bottom: 1px solid #ddd;
    color: #252525;
    display: block;
    padding: 6px 6px 6px 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.tag_nav li a:hover {
    padding-left: 10px
}

h2 {
    line-height: 23px;
    display: block;
}

.fa-caret-down {
    display: none;
}

.navbar-toggle {
    border: 1px solid #333 !important;
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0 !important;
    /* margin: 0 18% !important; */
}

.navbar-collapse {
    max-height: 100vw;
}

.navbar-inverse .navbar-nav>li>a {
    color: #1ba7aa !important;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    height: 50px;
    /* width: 100%; */
    line-height: 50px;
    padding: 0 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -mz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.navbar-fixed-top {
    right: 2vw;
    top: 9%;
}

.navbar-collapse {
    padding-left: 0
}

#navArea {
    /* float: left; */
    display: inline;
    /* width: 100%; */
    /* padding: 0 30px; */
    background-color: transparent
}

.logo-mobile {
    width: 60%;
}

.navbar-inverse {
    border-color: #ccc !important;
}

.col840 .list_phone li {
    color: #fff;
    padding: 16px 10px;
    width: 39%;
    margin: 0 auto;
    text-align: center;
}

.col840 .list_phone {
    cursor: pointer;
}

.head {
    background: url(/assets/images/icon_green.png) no-repeat scroll right 3px;
    color: #059;
    float: left;
    font: 700 14px/17px arial;
    height: 22px;
    padding: 2px 20px 8px 0;
    position: relative;
    text-shadow: 1px 0 #d0d3d6;
    text-transform: uppercase;
    top: 0;
}

.head a {
    color: #38abe2;
}

.home-cate {
    background: rgba(0, 0, 0, 0) url(/assets/images/home1.png) no-repeat scroll center center;
    display: inline-block;
    padding: 0 17px;
    text-indent: -9999px;
    width: 1px;
}

.Div_OtherNews {
    margin: 0 310px 0 0px;
}

.attribution {
    background-color: #fff/*#43759b*/
    ;
    border-radius: 2px;
    /*color: #fff;*/
    color: black;
    display: inline-block;
    font-size: 12px;
    padding: 0 2px;
}

.Div_OtherNews .boxnew_Content {
    width: auto !important;
    float: none !important;
    overflow: hidden;
}

.Div_OtherNews .boxnew_Content {
    border-bottom: 1px dotted #CFD0D1;
    margin-bottom: 10px;
    padding-top: 10px;
}

.Div_OtherNews .OtherTop,
.Div_OtherNews .OtherTop1 {
    width: 31%;
}

.Div_OtherNews .OtherTop,
.Div_OtherNews .OtherTop1 {
    float: left;
    width: 30%;
    margin: 0 3.3% 0 0 !important;
    padding-bottom: 10px;
    overflow: hidden;
}

.Div_OtherNews .OtherTop .Other_Image,
.Div_OtherNews .OtherTop1 .Other_Image {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 118px;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
    background: #eee;
    color: #777;
}

.Div_OtherNews .OtherTop a,
.Div_OtherNews .OtherTop1 a,
.Div_OtherNews .OtherTop2 a,
.Div_OtherNews .OtherTop3 a {
    font-family: 'SFDB';
    font-size: 16px;
}

.Div_OtherNews .OtherTop a,
.Div_OtherNews .OtherTop1 a,
.Div_OtherNews .OtherTop2 a,
.Div_OtherNews .OtherTop3 a {
    text-decoration: none;
    font-family: notib, arial;
    font-size: 13px;
    line-height: 19px;
}

.Div_OtherNews .OtherTop .Other_Image img,
.Div_OtherNews .OtherTop1 .Other_Image img {
    width: 100% !important;
    float: none !important;
}

#content-subject-detail div {
    margin-bottom: 1%;
}

.detail-text-center {
    text-align: center;
}

.detail-text-justify {
    text-align: justify;
}

#content-subject-detail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}

.detail-font {
    font-style: italic;
    font-weight: bold
}

.detail-caption-img {
    color: #0000ff;
}

.no-padding {
    padding: 0 !important;
}

.detail-title {
    color: #1869a9;
    font: 28px arial;
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 10px;
}

.boxnew_header {
    border-bottom: 1px solid #e13d6f;
    font: bold 14px arial;
    height: 16px;
    overflow: hidden;
    padding-bottom: 4px;
    width: auto;
    margin-bottom: 10px;
}

.bread_cump_cate .main-cate,
.linkMenu .main-cate {
    color: #666;
}

p {
    margin: 0 !important;
}

.width_common {
    width: 100%;
    float: left;
}

#footer_mobile {
    margin: 0 auto;
    padding: 0;
    width: auto;
}

#bottom-menu {
    overflow: hidden;
    width: 100%;
}

.each-fmenu {
    padding: 0;
}

.each-fmenu li {
    border-top: 2px solid #38abe2;
    background: #38abe2 none repeat scroll 0 0;
    border-right: 1px solid #8d8d8d;
    float: left;
    height: 10vw;
    overflow: hidden;
    padding: 10px 0 12px;
    width: 33%;
}

.each-fmenu a {
    color: #fff;
    float: left;
    font: 14px arial;
    margin: 0 0 0 10px;
    text-decoration: none;
}

#main_footer {
    background-color: #FFF;
    border-top: 1px solid #313131;
    width: 100%;
    padding-bottom: 20px;
}

.div-footer {
    display: block;
    padding: 15px 50px 10px 10px;
    position: relative;
}

.p-footer {
    color: #3a3a3a;
    font: 300 12px/17px arial;
    margin: 0 0 2px;
    text-align: center;
}

.scrollToTop {
    bottom: 105px;
    display: none;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    right: 75px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9;
    border: 1px solid rgb(18, 154, 226);
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.scrollToTop:hover,
.scrollToTop:focus {
    text-decoration: none;
    outline: none
}

#search-bt {
    background: #ccc none repeat scroll 0 0;
    overflow: hidden;
    width: 100%;
}

.div-search {
    background: #ccc none repeat scroll 0 0;
    display: block;
    padding: 10px;
}

.div-bgSearch {
    background: #fff none repeat scroll 0 0;
    color: #666;
    display: block;
    font: 14px arial;
    height: 8vw;
    padding: 5px 34px 5px 15px;
    position: relative;
}

.txt-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #666;
    font: 14px arial;
    height: 28px;
    width: 100%;
}

.btt-search {
    background: rgba(0, 0, 0, 0) url(/assets/images/icon_search.png) no-repeat scroll 5px 10px;
    border: medium none;
    cursor: pointer;
    height: 38px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 1;
}

.hidden-box {
    display: none !important;
}

@media(max-width:1199px) {
    .logo_area {
        width: 34%
    }
    .add_banner {
        width: 580px
    }
    .nav-tabs>li {
        width: 32.3%
    }
    .photograph_nav li {
        width: 31.5%
    }
    .fa-caret-down {
        display: none;
    }
    .logo-mobile {
        display: none;
    }
    @media(max-width:991px) and (min-width:768px) {
        .add_banner {
            display: none
        }
        .logo_area {
            width: 100%
        }
        .nav>li>a {
            padding: 8px 8px
        }
        .latest_post_container {
            height: 380px;
            overflow: hidden
        }
        #next-button {
            bottom: -2px
        }
        .single_iteam {
            height: 415px
        }
        .photograph_nav li {
            width: 47.7%
        }
        .related_post .spost_nav li {
            width: 100%
        }
        .nav-tabs>li {
            width: 31.9%
        }
        .nav-tabs>li>a {
            font-size: 13px;
            padding-left: 0 !important;
            padding-right: 0 !important;
            text-align: center
        }
        .fa-caret-down {
            display: none !important;
        }
        .logo-mobile {
            display: none;
        }
        .head {
            display: none;
        }
        #search-bt {
            display: none;
        }
    }
    @media(max-width:767px) {
        main {
            position: relative;
        }
        .navbar-collapse {
            padding-left: 15px;
            position: absolute;
        }
        .menu_main .dropdown {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        .menu_main .dropdown a {
            border-right: none;
        }
        .menu_main .dropdown .active,
        .menu_main .dropdown:hover {
            border-bottom: none;
        }
        .head {
            display: block;
        }
        .no-padding-mobile {
            padding: 0 !important;
        }
        #content-subject-detail img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 50vw;
        }
        #box_details_news .fck_detail {
            width: 100%;
            padding: 0;
        }
        .list_two220 {
            padding: 0;
        }
        .catebox {
            background: #f0f0f0;
        }
        .bg_pink120:before {
            background: none;
        }
        .navbar-toggle {
            margin-top: 18vw !important;
        }
        .navbar-nav {
            margin: 0 !important;
        }
        .mobile-show {
            display: block
        }
        #myTabContent .single_post_content_left {
            margin: 5%;
        }
        .single_post_content1 img {
            height: 30vw;
        }
        .content1 {
            height: 30vw !important;
        }
        .cate {
            height: 50vw !important;
        }
        .signle_iteam img {
            height: 60vw;
        }
        .desktop-home {
            display: none
        }
        .header_bottom {
            position: relative;
        }
        .navbar {
            position: absolute;
            z-index: 1000;
            right: 0;
            margin: 0 5% !important;
            /* top: 40vw; */
        }
        .fa-caret-down {
            display: inline-block;
            line-height: 50px !important;
            text-align: center;
            width: 10%;
        }
        .latest_newsarea {
            display: none;
        }
        .navbar-inverse .navbar-nav>li>a {
            display: block
        }
        .dropdown {
            width: 80vw;
        }
        .dropdown>a {
            display: inline-block !important;
            width: 90%;
        }
        .dropdown-menu>li>a {
            border-top: 1px solid #ccc;
        }
        .header_top_left {
            width: 100%
        }
        .header_top_right>p {
            display: none
        }
        .social_area {
            display: none
        }
        .single_iteam a {
            height: 100%
        }
        .single_iteam a>img {
            height: 100%
        }
        .error_page>a {
            margin-bottom: 25px
        }
        .nav-tabs>li {
            width: 32.6%
        }
        .header_top_right {
            display: none;
        }
        .clearfix {
            display: block;
        }
        .latest_post {
            display: none;
        }
        .single_post_content1 {
            width: 46%;
            margin: 2%;
        }
        .top_bar {
            display: none;
        }
        .logo-mobile {
            display: inline-block;
        }
        .container>.navbar-header,
        .container>.navbar-collapse {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .bg_pink120>.container {
            background-color: #f0f0f0;
            border-bottom: 10px solid #fff;
        }
        .navbar-inverse {
            background-color: transparent !important;
        }
    }
    @media(max-width:480px) {
        main {
            position: relative;
        }
        .top_nav {
            text-align: center
        }
        .menu_main .dropdown {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        .menu_main .dropdown a {
            border-right: none;
        }
        .menu_main .dropdown .active,
        .menu_main .dropdown:hover {
            border-bottom: none;
        }
        .no-padding-mobile {
            padding: 0 !important;
        }
        #content-subject-detail img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 50vw;
        }
        .list_two220 {
            padding: 0;
        }
        #box_details_news .fck_detail {
            width: 100%;
            padding: 0;
        }
        .catebox {
            background: #f0f0f0;
        }
        .bg_pink120:before {
            background: none;
        }
        .navbar-toggle {
            margin-top: 18vw !important;
        }
        .navbar-nav {
            margin: 0 !important;
        }
        #myTabContent .single_post_content_left {
            margin: 5%;
        }
        .single_post_content1 img {
            height: 30vw;
        }
        .cate {
            height: 50vw !important;
        }
        .content1 {
            height: 30vw;
        }
        .signle_iteam img {
            height: 60vw;
        }
        .single_post_content_left {
            width: 100%
        }
        .single_post_content_right {
            width: 100%
        }
        .fashion {
            width: 100%
        }
        .cate img {
            height: 80vw;
        }
        .technology {
            width: 100%
        }
        .header_bottom {
            position: relative;
        }
        .navbar {
            position: absolute;
            z-index: 1000;
            right: 0;
            margin: 0 5% !important;
            /* top: 55vw; */
        }
        .navbar-collapse {
            position: absolute;
        }
        .navbar-inverse {
            background-color: transparent !important;
        }
        .copyright {
            text-align: center;
            width: 100%
        }
        .developer {
            text-align: center;
            width: 100%
        }
        .single_iteam {
            height: 300px
        }
        .photo_grid figure {
            height: 200px
        }
        .photograph_nav li {
            width: 100%;
            margin-left: 0
        }
        .navbar-inverse .navbar-nav>li:first-child a {
            padding-left: 5vw !important;
        }
        .latest_newsarea {
            display: none;
        }
        .fa-caret-down {
            display: inline-block;
            line-height: 50px;
            text-align: center;
            width: 10%;
        }
        .nav>li>a {
            padding: 8px 12px
        }
        .dropdown {
            width: 80vw;
        }
        .dropdown>a {
            display: inline-block !important;
            width: 90%;
        }
        .nav-tabs>li {
            width: 32.6%
        }
        .dropdown-menu>li>a {
            border-top: 1px solid #ccc;
        }
        .header_top_right {
            display: none;
        }
        .clearfix {
            display: block;
        }
        .latest_post {
            display: none;
        }
        .single_post_content1 {
            width: 46%;
            margin: 2%;
        }
        .top_bar {
            display: none;
        }
        .logo-mobile {
            display: inline-block;
        }
        .container>.navbar-header,
        .container>.navbar-collapse {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .bg_pink120>.container {
            background-color: #f0f0f0;
            border-bottom: 10px solid #fff;
        }
    }
    @media(max-width:360px) {
        main {
            position: relative;
        }
        .menu_main .dropdown {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        .menu_main .dropdown a {
            border-right: none;
        }
        .menu_main .dropdown .active,
        .menu_main .dropdown:hover {
            border-bottom: none;
        }
        #content-subject-detail img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 50vw;
        }
        .list_two220 {
            padding: 0;
        }
        #box_details_news .fck_detail {
            width: 100%;
            padding: 0;
        }
        .no-padding-mobile {
            padding: 0 !important;
        }
        .catebox {
            background: #f0f0f0;
        }
        .bg_pink120:before {
            background: none;
        }
        .navbar-toggle {
            margin-top: 18vw !important;
        }
        .navbar-nav {
            margin: 0 !important;
        }
        .latest_newsarea span {
            font-size: 12px;
            line-height: 2.2em;
            padding: 2px 10px 1px 10px
        }
        #myTabContent .single_post_content_left {
            margin: 5%;
        }
        .single_iteam {
            height: 210px
        }
        .slider_article>p {
            display: none
        }
        .header_bottom {
            position: relative;
        }
        .navbar {
            position: absolute;
            z-index: 1000;
            right: 0;
            margin: 0 5% !important;
            /* top: 55vw; */
        }
        .navbar-collapse {
            position: absolute;
        }
        .navbar-inverse {
            background-color: transparent !important;
        }
        .error_page>span {
            width: 80px
        }
        #header {
            position: relative;
        }
        .latest_newsarea {
            display: none;
        }
        .fa-caret-down {
            display: inline-block;
            line-height: 50px;
            text-align: center;
            width: 10%;
        }
        .nav-tabs>li {
            width: 32.3%
        }
        .dropdown {
            width: 80vw;
        }
        .dropdown>a {
            display: inline-block !important;
            width: 90%;
        }
        .dropdown-menu>li>a {
            border-top: 1px solid #ccc;
        }
        .pagination>li>a,
        .pagination>li>span {
            padding: 4px 8px
        }
        .header_top_right {
            display: none;
        }
        .clearfix {
            display: block;
        }
        .latest_post {
            display: none;
        }
        .single_post_content1 {
            width: 46%;
            margin: 2%;
        }
        .single_post_content1 img {
            height: 30vw;
        }
        .cate img {
            height: 50vw !important;
        }
        .signle_iteam img {
            height: 60vw;
        }
        .top_bar {
            display: none;
        }
        .logo-mobile {
            display: inline-block;
        }
        .container>.navbar-header,
        .container>.navbar-collapse {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .bg_pink120>.container {
            background-color: #f0f0f0;
            border-bottom: 10px solid #fff;
        }
    }
    @media(max-width:320px) {
        main {
            position: relative;
        }
        .menu_main .dropdown {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        .menu_main .dropdown a {
            border-right: none;
        }
        .menu_main .dropdown .active,
        .menu_main .dropdown:hover {
            border-bottom: none;
        }
        #content-subject-detail img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 50vw;
        }
        .list_two220 {
            padding: 0;
        }
        #box_details_news .fck_detail {
            width: 100%;
            padding: 0;
        }
        .no-padding-mobile {
            padding: 0 !important;
        }
        .catebox {
            background: #f0f0f0;
        }
        .bg_pink120:before {
            background: none;
        }
        .navbar-toggle {
            margin-top: 18vw !important;
        }
        .navbar-nav {
            margin: 0 !important;
        }
        .sociallink_nav li a {
            padding: 5px 10px
        }
        .sociallink_nav li:nth-child(1)>a {
            padding: 5px 13px
        }
        #myTabContent .single_post_content_left {
            margin: 5%;
        }
        .single_post_content1 img {
            height: 30vw;
        }
        .cate img {
            height: 50vw !important;
        }
        .signle_iteam img {
            height: 60vw;
        }
        .latest_newsarea {
            display: none;
        }
        .header_bottom {
            position: relative;
        }
        .navbar {
            position: absolute;
            z-index: 1000;
            right: 0;
            margin: 0 5% !important;
            /* top: 55vw; */
        }
        .navbar-collapse {
            position: absolute;
        }
        .navbar-inverse {
            background-color: transparent !important;
        }
        .fa-caret-down {
            display: inline-block;
            line-height: 50px;
            text-align: center;
            width: 10%;
        }
        .dropdown {
            width: 80vw;
        }
        .dropdown>a {
            display: inline-block !important;
            width: 90%;
        }
        .nav-tabs>li {
            width: 32.1%
        }
        .dropdown-menu>li>a {
            border-top: 1px solid #ccc;
        }
        .header_top_right {
            display: none;
        }
        .clearfix {
            display: block;
        }
        .latest_post {
            display: none;
        }
        .single_post_content1 {
            width: 46%;
            margin: 2%;
        }
        .top_bar {
            display: none;
        }
        .logo-mobile {
            display: inline-block;
        }
        .container>.navbar-header,
        .container>.navbar-collapse {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .bg_pink120>.container {
            background-color: #f0f0f0;
            border-bottom: 10px solid #fff;
        }
    }
    @media(max-width:240px) {
        main {
            position: relative;
        }
        .menu_main .dropdown {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        .menu_main .dropdown a {
            border-right: none;
        }
        .menu_main .dropdown .active,
        .menu_main .dropdown:hover {
            border-bottom: none;
        }
        #box_details_news .fck_detail {
            width: 100%;
            padding: 0;
        }
        #content-subject-detail img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 50vw;
        }
        .list_two220 {
            padding: 0;
        }
        .no-padding-mobile {
            padding: 0 !important;
        }
        .catebox {
            background: #f0f0f0;
        }
        .bg_pink120:before {
            background: none;
        }
        .navbar-toggle {
            margin-top: 18vw !important;
        }
        .navbar-nav {
            margin: 0 !important;
        }
        .sociallink_nav li a {
            padding: 5px 10px
        }
        .sociallink_nav li:nth-child(1)>a {
            padding: 5px 13px
        }
        .signle_iteam img {
            height: 100vw;
        }
        .latest_newsarea {
            display: none;
        }
        .navbar-collapse {
            position: absolute;
        }
        .navbar-inverse {
            background-color: transparent !important;
        }
        .header_bottom {
            position: relative;
        }
        .navbar {
            position: absolute;
            z-index: 1000;
            right: 0;
            margin: 0 5% !important;
            /* top: 95vw; */
        }
        .fa-caret-down {
            display: inline-block;
            line-height: 50px;
            text-align: center;
            width: 10%;
        }
        .dropdown {
            width: 80vw;
        }
        .dropdown>a {
            display: inline-block !important;
            width: 90%;
        }
        .nav-tabs>li {
            width: 32.1%
        }
        .dropdown-menu>li>a {
            border-top: 1px solid #ccc;
        }
        .header_top_right {
            display: none;
        }
        .clearfix {
            display: block;
        }
        .latest_post {
            display: none;
        }
        .single_post_content1 {
            width: 46%;
            margin: 2%;
        }
        .top_bar {
            display: none;
        }
        .logo-mobile {
            display: inline-block;
        }
        .container>.navbar-header,
        .container>.navbar-collapse {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .bg_pink120>.container {
            background-color: #f0f0f0;
            border-bottom: 10px solid #fff;
        }
    }
}