.box-news img {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.box-news:hover img {
    -webkit-transform: scale(10);
    transform: scale(1.2);
}

.img_4_3 {
    overflow: hidden;
    position: relative;
    padding-bottom: 75%;
}

.img_4_3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 992px) {
    .group-links-groups {
        padding: 0;
    }
}

.news-box {
    width: 100%;
    float: left;
    display: block;
}

@media (max-width: 992px) {
    .news-box {
        margin-bottom: 0;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    .box-news .snippet {
        display: none;
    }
}

.news-box-top,
.tin_host_home {
    padding-top: 15px;
}

body {
    background-color: #f9f9f9;
    background: url("../images/bg/pattern4.png");
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

.f-rsb {
    font-family: Roboto Slab, Helvetica, Arial, serif;
}

.image-wrapper {
    overflow: hidden;
}

.timeline {
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.f-rsb {
    font-weight: 700;
}

.f-rr {
    font-family: Roboto, Helvetica, Arial;
}

.f-rr {
    font-weight: 400;
}

.fs1 {
    font-size: 10px;
}

.fs2 {
    font-size: 12px;
}

.fs3 {
    font-size: 13px;
}

.fs4 {
    font-size: 14px;
}

.fs5 {
    font-size: 16px;
}

.fs6 {
    font-size: 18px;
}

.fs28 {
    font-size: 28px;
}

.d-row.content {
    margin: 0 10px;
}

.d-col {
    padding: 0 10px;
    float: left;
}

.box-news>.title>a:after {
    content: " ";
}

.box-news>.image {
    display: block;
    margin-bottom: 11px;
}

.box-news>.content>.title {
    margin: 3px 0 8px;
}

.box-news>.content>.title>a {
    color: #303030;
    line-height: 1.2;
    font-weight: 700;
    font-size: 14px;
}

.box-news>.content>.snippet {
    color: #303030;
}

.box-news-larger {
    width: 100%;
}

.box-news-larger>.content>.title>a {
    line-height: 1.3;
    font-size: 32px;
    color: #f8931e;
}

.related-links {
    padding-top: 7px;
    width: 100%;
    padding-left: 0;
}

@media (max-width: 992px) {
    .related-links {
        margin-bottom: 20px;
    }
}

.related-links li {
    position: relative;
    border-top: 1px solid #efefef;
    padding: 5px 5px 6px 20px;
}

.related-links li:before {
    content: " ";
    width: 10px;
    height: 10px;
    display: block;
    background: url("../images/icons/brc.png") no-repeat;
    position: absolute;
    left: 0;
    top: 12px;
}

.related-links li a {
    color: #333;
    padding-right: 6px;
    line-height: 20px;
}

.related-links a {
    color: #333;
}

.group-links-groups {
    display: block;
    overflow: hidden;
    height: 445px;
}

.group-links-timeline {
    padding: 0;
    display: block;
    float: left;
    width: calc(100% - 10px);
}

.group-links-timeline>li {
    float: left;
    border-top: none;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px dashed #d1d1d1;
}

.group-links-timeline>li:first-child,
.group-links-timeline>li:first-child a {
    padding-top: 0;
}

.group-links-timeline>li>a {
    float: left;
    display: block;
    width: 100%;
    color: #000;
    padding-bottom: 5px;
    padding-top: 4px;
}

.group-links-timeline>li>a h3 {
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    font-weight: 700;
    vertical-align: middle;
    display: table-cell;
    color: #373737;
}

.group-links-timeline>li:last-child>a {
    border-bottom: none;
}

.title a,
h3.title {
    color: #373737;
    padding-top: 2px;
    padding-bottom: 5px;
}

.col-5-content {
    width: 20%;
    padding: 0 10px;
}

.col-5-content:nth-child(n+6) {
    display: none;
}

.img-wide.larger {
    height: 200px;
}

.img-wide>img {
    margin-top: -25px;
}

.box-related .box-news .title a {
    color: #333;
}

.box-related {
    float: left;
}

.box-related .box-news {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    margin-top: 5px;
    float: left;
}

.box-related .box-news:first-child {
    margin-top: 0;
}

.box-related .box-news>.image {
    margin-bottom: 3px;
}

.box-related .box-news .title {
    margin: 4px 0 -3px;
}

.box-related .box-news:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.image-content {
    padding: 20px 30px 30px;
    opacity: .5;
}

@media (min-width: 768px) {
    .img-wide.larger {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .img-wide.larger {
        height: 280px;
    }
}

@media (min-width: 1200px) {
    .img-wide.larger {
        height: 302px;
    }
}

a:active,
a:focus,
a:hover {
    color: #00aae9;
    outline: 0 !important;
    outline-offset: 0 !important;
    text-decoration: none !important;
    cursor: pointer;
}

ul:empty {
    display: none;
}

.timeline ul li a:hover {
    text-decoration: underline;
}

.image-wrapper>.image {
    position: relative;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZmlsbD0iI2NjYyIgZD0iTTI1LDI4djQzaDU1di00M0gyNXogTTc2LDY2SDMwVjMzaDQ1VjY3Ii8+PHBvbHlnb24gZmlsbD0iI2NjYyIgcG9pbnRzPSIzMyw2MyA0Niw1MiA1MCw1NSA1OSw0MyA2Miw0OSA2NSw0NyA3Miw2MyIvPjxjaXJjbGUgZmlsbD0iI2NjYyIgY3g9IjQ1IiBjeT0iNDEiIHI9IjUiLz48L2c+PC9zdmc+);
    background-color: #f5f4f4;
}

.image-wrapper>.image>img {
    position: absolute;
    width: 100%;
}

.image-wrapper>.image-3-2 {
    padding-bottom: 66.666%;
}

.image-wrapper>.image-7-5 {
    padding-bottom: 75.5%;
}

.image-wrapper>.image-wide-large {
    padding-bottom: 52.631%;
}

.image-wrapper>.image-wide-medium {
    padding-bottom: 40%;
}

.image-wrapper .image-7-5 img {
    width: 150%;
    top: 0;
    left: -25%;
}

.image-wrapper>.image-larger {
    padding-bottom: 62.3656%;
}

.image-wrapper>.image-medium {
    padding-bottom: 62.439%;
}

.image-wrapper>.image-1-1 {
    padding-bottom: 100%;
}

.timeline {
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    border: 1px solid #e6e6e6;
    background: #f8f8f8;
    padding: 0 10px 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.timeline>a,
.timeline ul {
    height: 23px;
    line-height: 23px;
}

.timeline ul {
    float: left;
    width: calc(100% - 100px);
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: marquee 50s linear infinite;
    animation: marquee 50s linear infinite;
}

.timeline>a:before,
.timeline ul li {
    background: url(../images/related-link-icon.png) 0 no-repeat;
    padding: 0 0 0 10px;
    margin-right: 10px;
    float: none;
    display: inline;
}

.timeline ul li a {
    color: #000;
}

.timeline ul:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.timeline>a {
    color: #000;
}

.timeline>a:before {
    content: " ";
}

@-webkit-keyframes marquee {
    0% {
        text-indent: 27.5em;
    }
    to {
        text-indent: -105em;
    }
}

@keyframes marquee {
    0% {
        text-indent: 27.5em;
    }
    to {
        text-indent: -105em;
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(1turn);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
    to {
        -webkit-transform: scale(1) rotate(1turn);
        transform: scale(1) rotate(1turn);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
    to {
        -webkit-transform: scale(1) rotate(1turn);
        transform: scale(1) rotate(1turn);
    }
}

.group-links-groups .mCSB_scrollTools .mCSB_dragger {
    opacity: 0.2;
}

.mCSB_inside>.mCSB_container {
    margin-right: 10px;
}

.ndt-header {
    padding: 10px 0;
}

.f24 {
    text-transform: uppercase;
    font-weight: bold;
}

.ndt-logo img {
    max-width: 100%;
}

.header_logo .logo_web {
    height: 41px;
}

.head_title_pink .clwhite {
    color: #f8931e !important;
}