<script>
    var windowsize = $(window).width();
    if (windowsize < 767) {
        // $(".navbar").addClass("navbar-fixed-top");
        $(".box_search").css("display", "none");
    } else {
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
        });
        $(".btn_search").click(function() {
            $("body").addClass('active');
            $(".shadow_search").addClass('active');
            $(".box_seach_show").addClass('active');
        });
        $("#close_search").click(function() {
            $("body").removeClass('active');
            $(".shadow_search").removeClass('active');
            $(".box_seach_show").removeClass('active');
        });
        $(".shadow_search").click(function() {
            $("body").removeClass('active');
            $(".shadow_search").removeClass('active');
            $(".box_seach_show").removeClass('active');
        });
    }
</script>
<div id="fixed-banner-left">
    <div class="ct clearfix">
    </div>
</div>
<div id="fixed-banner-right">
    <div class="ct clearfix">
    </div>
</div>

<div class="top_bar clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="top_bar_left fl">
            <a href="" class="item_top_bar_left"><strong>Hà Nội:</strong> 32°C</a>
            <a href="" class="item_top_bar_left"><strong>USD:</strong> Vcb 23,210/23,290</a>
            <a href="" class="item_top_bar_left"><strong>Vàng 9999:</strong> SJC 36,570/36,650</a>
        </div>
        <div class="top_bar_right fr"> Hotline: &nbsp;<span class="clpink">093 442 3333</span> <span class="line">|</span> Quảng cáo: &nbsp; <span class="clpink"> 090 106 4444</span> <a href="javascript:;" class="btn_price">Báo giá</a> <span class="line">|</span>
            <a href="" class="icon_social_top ml0"><img src="/assets/images/icon_fb.png" /> </a>
            <a href="" class="icon_social_top"><img src="/assets/images/icon_you.png" /> </a>
            <a href="" class="icon_social_top"><img src="/assets/images/icon_zalo.png" /> </a>
        </div>
    </div>
</div>

<header class="ndt-header hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 header-group">
                <a href="/" class="ndt-logo" title="Báo đời sống văn hóa">
                    <img src="/assets/images/logo.png">
                </a>
            </div>
            <div class="col-md-8 hidden-sm">
                <div class="block_horizontal">
                    <div class="block_vertical">
                        <a target="_blank" href="http://quynhonmelody.com.vn/">
                            <img src="/assets/images/picturemessage_krat5yga.ijk.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<header class="header_main clearfix">
    <div class="clearfix">
        <section id="navArea">
            <div class="container navbar" role="navigation">
                <div class="navbar-header">
                    <a href="/" class="ndt-logo hidden-lg hidden-md logo-mobile" title="Báo đời sống văn hóa">
                        <img src="/assets/images/logo.png">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-inverse">
                    <ul class="menu_main nav navbar-nav main_nav">
                        <li class="dropdown active">
                            <a href="/" class="logo_main"><img src="/assets/images/home.png" /> </a>
                        </li>
                        <li class="dropdown"> <a href="/pages/category.html">Thời sự</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/pages/subcategory.html">Trong nước</a></li>
                                <li><a href="#">Quốc tế</a></li>
                                <li><a href="#">Xã hội</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Đời sống</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Dân sinh</a></li>
                                <li><a href="#">Giáo dục</a></li>
                                <li><a href="#">Môi trường</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Kinh tế</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Mua sắm</a></li>
                                <li><a href="#">Bất động sản</a></li>
                                <li><a href="#">Kinh doanh</a></li>
                                <li><a href="#">Tài chính - Ngân hàng</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Pháp luật</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">An ninh</a></li>
                                <li><a href="#">Hình sự</a></li>
                                <li><a href="#">Hôn nhân</a></li>
                                <li><a href="#">Gia đình</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="#">Giải trí</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Chuyện của sao</a></li>
                                <li><a href="#">Âm nhạc</a></li>
                                <li><a href="#">Ẩm thực</a></li>
                            </ul>
                        </li>
                        <li>
                            <li class="dropdown"> <a href="#">Y tế</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Sức khỏe</a></li>
                                    <li><a href="#">Dinh dưỡng</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#">Du lịch</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Check-in</a></li>
                                    <li><a href="#">Kinh nghiệm</a></li>
                                    <li><a href="#">Tours</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#">Gia đình</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Làm cha mẹ</a></li>
                                    <li><a href="#">Tin nóng</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#">Làm đẹp</a><span class="dropdown-toggle fa fa-caret-down hidden-lg hidden-md" style="float: right;" data-toggle="dropdown" role="button" aria-expanded="true"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Thời trang</a></li>
                                    <li><a href="#">Thẩm mỹ</a></li>
                                    <li><a href="#">Spa</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="category.html">Video</a></li>
                    </ul>
                    <div class="box_search">
                        <a href="javascript:;" class="btn_search"><img src="/assets/images/icon_search.png" /> </a>
                    </div>
                    <div id="search-bt" class="hidden-lg hidden-md">
                        <div class="div-search">
                            <div class="div-bgSearch">
                                <input type="text" name="s" placeholder="Nhập nội dung cần tìm" class="inputS txtboxSearch txt-search" />
                                <a href="javascript:;" class="btt-search cse_search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
<div class="shadow_search"></div>
<div class="box_seach_show">
    <div class="bg_input_search">
        <input type="text" class="input_search" placeholder="Nhập từ khóa bạn cần tìm" />
        <button class="btn_search_box"></button>
        <a href="javascript:;" id="close_search" class="on"><span></span></a> </div>
</div>